* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../../static/assets/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Arial';
    font-size: 14;
    
}

.content {
    padding-left: 350px;
    padding-right: 350px;
}